.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff0dc;
    padding: 10px 0;
}

.HeaderContainer {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.Nav {
    grid-column: 3;
    justify-self: flex-end;
    display: flex;
    align-content: space-between;
    align-items: center;
}

.Nav span {
    font-size: 0.9em;
    font-weight: 500;
    padding-left: 1em;
    vertical-align: super;
}


.Nav a {
    text-decoration: none;
    color: var(--main);
}

.Nav span,
.Nav img {
    cursor: pointer;
}

.Nav div {
    display: flex;
    align-items: center;
}

.Nav img {
    width: 30px;
}

.Cart {
    margin-left: 30px;
}

@media (max-width: 900px) {
    .HeaderContainer {
        max-width: 500px;
        justify-content: space-around;
    }

    .Header {
        position: relative;
    }
}