.Order {
    width: 55%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    text-align: center;
}

.Ings {
    text-transform: capitalize;
    display: inline-block;
    margin: 0 10px;
    border: 1px solid #ccc;
    padding: 5px;
    vertical-align: middle;
}

.Price {
    padding-top: 15px;
}