.Burger {
    box-sizing: border-box;
    text-align: center;
    min-height: 680px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 5em;
    animation: pulse;
    animation-duration: 2s;
}

.WholeBurger {
    display: flex;
    flex-direction: column;
    /*background-image: url("../../assets/background.svg");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 2em;
    z-index: -10;
}

.Shadow {
    margin-top: -20%;
    opacity: .2;
}

.Info {
    padding: 10px 0;
}

@media (max-width: 1250px) {
    .Burger {
        padding: 10%;
        min-height: auto;
        margin-top: 5%;
    }
    .Shadow {
        width: 350px;
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .WholeBurger {
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .Burger {
        width: 320px;
        padding: 10%;
        min-height: auto;
        margin: 10% auto -5% auto;
    }
    .Shadow {
        width: 250px;
        margin: 0 auto;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}