.Modal {
    position: fixed;
    z-index: 500;
    background-color: var(--background);
    width: 70%;
    padding: 3em;
    left: 15%;
    top: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.FadeIn {
    animation: fadeInDown;
    animation-duration: 800ms;
}

.FadeOut {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}