.Primary {
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    color: #f8fff1;
    background-color: #ff9300;
    border: 1px solid #ff9300;
    border-radius: 16px;
    padding: 5px 40px;
    margin: 0 1em;
    transition: 400ms;
}

.Primary:hover {
    background-color: #f46d0f;
    border: 1px solid #f46d0f;
    animation: pulse;
    animation-duration: 1s;
}

.Secondary {
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    color: #ff9300;
    background-color: #f8fff1;
    border: 1px solid #ff9300;
    border-radius: 16px;
    padding: 5px 40px;
    transition: 400ms;
}

.Secondary:hover {
    color: #f8fff1;
    color: #f46d0f;
    border: 1px solid #f46d0f;
    animation: pulse;
    animation-duration: 1s;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}