.Container {
    margin: 0 auto;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.InputElement {
    min-width: 200px;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.Invalid {
    background-color: var(--main);
}
