.Checkout {
    margin: 2rem auto;
}

.Title {
    margin: 2.5rem 0;
    text-align: center;
}

.PersonalDataForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Delivery {
    width: 165px;
    margin-bottom: 2rem;
}

.ButtonSubmit {
    margin: 10px 0;
}